body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: black;
    color: white;
    overflow: hidden;
}

.main{
    display: flex;
    height: 100vh;
}

.sidebar{
    background-color: black;
    width: 350px;
    border-radius: 1rem;
}

.main-content{
    background-color: #121212;
    flex: 1;
    overflow: auto;
    border-radius: 1rem;
}

.music-player{
    position: fixed;
    bottom: 0px;
    height: 5rem;
    width: 100%;
    height: 72px;
    background-color: black;
    display: flex;
    padding: 0.5rem 0.5rem;
}

a{
    text-decoration: none;
    color: white;
}

.nav{
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
    margin: 0.5rem 0.5rem;
    /* height: 150px;
    width: 90%;
    margin: auto;
    position: relative;
    top: 15px; */
}

.nav-option{
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}

.nav-option:hover{
    opacity: 1;
}

.nav-option i{
    font-size: 1.25rem;
}

.nav-option a{
    margin-left: 1rem;
    font-size: 1rem;
}

.library{
    background-color: #121212;
    border-radius: 1rem;
    height:100%;
    margin: 0.75rem 0.5rem;
    padding: 0.5rem 0.75rem;
}

.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lib-img{
    height: 1.25rem;
    width: 1.25rem;
}

span i{
    opacity: 0.5;
    margin-right: 0.75rem;
}

span i:hover{
    opacity: 1;
}

.box{
    background-color: #1f1f1f;
    border-radius: 0.75rem;
    height:8rem;
    margin: 0.75rem 0 0.5rem 0;
    padding: 0.75rem 1rem;
}

.box-p1{
    font-size: 0.9rem;
    font-weight: 700;
}

.box-p2{
    font-size: 0.75rem;
    opacity: 0.9;
}

.badge{
    border: none;
    padding: 0.25rem 1rem;
    border-radius: 20px;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;
}

.badge:hover{
    transform: scale(1.05);
}

.sticky-nav{
    display: flex;
    position: sticky;
    top: 0;
    background-color: #121212;
    justify-content: space-between;
    padding: 1rem 1rem;
    z-index: 5;
}

.icons img{
    height: 1.75rem;
    width: 1.75rem;
    border-radius:50%;
    padding: 0.5rem;
    background-color: black;
}


@media (max-width:1000px){
    .hide{
        display: none;
    }
}

 h2{
    margin-left: 2rem;
}

.card-img{
    width: 100%;
    border-radius: 0.5rem;
}

.card-info{
    font-size: 0.75rem;
    opacity: 0.8;
}

.card-title{
    font-weight: 600;
}

.card{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    width: 12rem;
    padding: 1rem;
    height: 18rem;
    background-color: #1f1f1f;
    border-radius: 0.5rem;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
}

.card:hover{
    box-shadow: 0 0 0.1rem whitesmoke;
}

.footer{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer p{
    text-align: end;
    opacity: 0.5;
}

.footer p:hover{
    opacity: 1;
}

.line{
    width: 90%;
    height: 50%;
    border-top: 1px solid white;
    opacity: 0.2;
}

.album{
    width: 25%;
    display: flex;
}

.album p{
    margin-left: 1rem;
    font-size: small;
    opacity: 0.9;
}

.album-info p:hover{
    text-decoration: underline white;
    opacity: 1.5;
}

.album-info{
    display: flex;
    flex-direction: column;
    padding: 0;
}

.album-img{
    margin: 0.3rem 0 0 0.5rem;
    height: 4rem;
    width: 4rem;
}

.player{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.player-control{
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: baseline;
    justify-content: center;
}

.player-control-icon{
    height: 1rem;
    width: 1rem;
    margin: 1rem 2rem 0.75rem 0;
    opacity: 0.7;
}

.player-control-icon:hover{
    opacity: 1;
}
.playback-bar{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 0;
    padding: 0;
}

.progress-bar{
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

.progress-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height: 0.25rem;
}

.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height: 0.9rem;
    width: 0.9rem;
    background-color: #1bd275;
    border-radius: 50%;
    margin-top: -0.35rem;
}

.controls{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sound-bar{
    width: 30%;
    margin-right: 0.75rem;
}

.control-icon{
    opacity: 0.7;
    margin-right: 0.75rem;
}

.control-icon:hover{
    opacity: 1;
}